/* Hero Section - Mobile Styles */
.bannerWrap{
  position: relative;
  width: 100%;  
  margin: 0 auto;  
   
}

        /* Banner-Images */
 .bannerImage{
  width: 100%;  
  display: block;            
  aspect-ratio: 21/9;
  height: clamp(200px, 30vw, 280px);
  object-fit: cover;
  object-position: center;

  border-radius: 20px;
  border: 2px solid lab(95.49% 0.01 -0.01 / 0.182);
  box-shadow: 0 10px 20px rgba(198, 197, 197, 0.5);
  overflow: hidden;
 }
        /* Banner-Text */
  
  .bannerText{
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 12px;
  inset: 20px;
  color: #fff;
  }

                /* Hero buttons container */
  .bannerButtons {
    margin-top: auto;
    display: flex;
    gap: 17px;
    flex-wrap: wrap;

  }
  

/* .....................................768px+...........................................................*/

@media (min-width: 768px)  {

   /* Tablet-Wrap - 768px*/
  .bannerWrap{
    display: flex;
    align-items: stretch;
    height: clamp(260px, 28vw, 300px);
    border: 1px solid rgba(36, 36, 36, 0.12);
    box-shadow: 0 8px 16px rgba(198, 197, 197, 0.5);
    border-radius: 15px;
    overflow: hidden; 
    background: linear-gradient(#ffffff, #eaeaea);


}

                                 /* Banner-text - 768px */
  .bannerText {
    display: flex;    
    flex-direction: column;  
    position: relative;     
    inset: auto;            
    flex: 0 0 40%;
    padding: 32px;
    justify-content: center;
    gap: 14px;
   color: #2b2b2b;
    order: 1;               
      
  }

                            /* Right: image-768px */
  .bannerImage{
    flex: 0 0 60%;
    width: 100%;
    height: 100%;
    order: 2;           
    border-radius: 0;
    border: 0;
    box-shadow: none

  }

   /* Banner text - tablet-768px */
  .bannerText > * {
  position: relative;
  z-index: 1;

}

                    /* Decorative skewed element - 768px */
  .bannerText::after{
    content: "";
    position: absolute;
    right: -80px;           
    width: 80px;
    height: 100%;
    background: linear-gradient(#ffffff, #eaeaea);

    transform: skewX(-12deg);
    transform-origin: left top;
    z-index: 0;
    pointer-events: none;  

  }

}