 /* Pizza card */
.pizzaCard {
  flex: 0 0 var(--card-width-mobile);
  aspect-ratio: 3 / 2;
  scroll-snap-align: start;
 background: var(--surface-card-bg);
 
  border: var(--border-width-400) solid var(--border-medium);
  border-radius: var(--radius-card);
  box-shadow:var(--shadow-card);
}

/* Pizza image */
.pizzaImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

  /* Pizza divider */
.pizzaDivider{
height: var(--border-width-100);
background: var(--divider-color);
margin: var(--space-100) var(--space-400);
}

  /* Pizza content */
  .pizzaContent{
   display:flex;
   justify-content:space-between;
   padding: var(--space-150);
   gap: var(--space-150);
   
}            


                            /* Pizza P */
  .pizzaContent p{
    margin-top:var(--space-400);
  
  }

    /* Pizza actions container */
  .pizzaActions{
   display:flex;
   gap:var(--space-200);
   margin-top:var(--space-050);
  }
 
   /* pizza action buttons */
  .pizzaActions .btn{
   padding:var(--space-100) var(--space-300);
   margin:0px 0px var(--space-200) var(--space-100);

   }
                             


    /* Desktop breakpoints 1024px ****************************************/           
 @media (min-width: 1024px) {
  .pizzaCard {
    flex-basis: var(--card-width-desktop);
  }
}
    
