/* Base button styles */
.button  {
  outline:none;
  cursor:pointer;
  border: none;
  text-decoration: none;

 

  display: inline-flex;
  align-items: center;
  justify-content: center;
}
               /*primary button -styles*/
.primary{
 
  background: linear-gradient(45deg,
   var(--color-primary-start),
    var(--color-primary-end));

  color: var(--button-text-primary);
  border-radius: var(--radius-button);
  font-weight: var(--button-weight);
  font-size: var(--button-size);
  box-shadow: var(--shadow-button);
  
transition:
  
  box-shadow 0.45s ease-in-out,
  filter 0.45s ease-in-out;
}
                /*primary button - hover effect*/
.primary:hover
   {
    
    
     filter: brightness(1.08);
    
    box-shadow: var(--shadow-button-hover);
  }

           /*secondary button -styles*/
.secondary{
  
  background: linear-gradient(45deg,
   var(--color-secondary-start),
    var(--color-secondary-end));

  color: var(--button-text-primary);
  box-shadow: var(--shadow-button);
  border-radius: var(--radius-button);
  font-size: var(--button-size);
  font-weight: var(--button-weight);

transition:
  box-shadow 0.45s ease-in-out,
  filter 0.45s ease-in-out;
}

           /*hover effect for secondary button  */
.secondary:hover{

   filter: brightness(1.08);
  
  box-shadow: var(--shadow-button-hover);

}