
/* Cart add success toast */
.cartToast {

  min-width: 320px;
  position: fixed;
  text-align: center;
  top: var(--space-700);
  left: 50%;
  transform: translateX(-50%);

  background-color: var( --color-secondary-start); 
  color: var(--color-white);
  
  padding: var(--space-150) var(--space-200);
  border-radius: var(--radius-400);

  font-size: var(--body-size);
  font-weight: var(--label-weight);

  z-index: 9999;

  
}
