
/*  full-width background */
.mainHeader {
  
  width: 100%;
  background-color: var(--color-white);
  position: relative;
  z-index:10;
 
 }

/* centered max-width layout */
 .headerInner{

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--layout-container-max); /* limits the footer content width to 1360px */
  margin: 0 auto;
  height: var(--space-650); /* 56px */
  padding: 0 var(--space-200) 0 calc(var(--space-050) + 1px); /* 16px horizontal padding with 1px added  */
  box-sizing: border-box;
 }

                           /* Menu toggle button (left side) */
.buttonToggle {
  
  font-size: var(--font-size-700);
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-primary);
  
 
  
  
}
        /* Navigation Menu (sliding from left) */
.menu {
  position: fixed;
  inset: 0 auto 0 0;
  width: 70vw;
  max-width: 360px;
  background-color: var(--color-white);
  border-right: var(--border-width-200) solid var(--divider-color);
  transform: translateX(-110%);
  transition: transform 0.500s ease;
}
                          /* Open state for menu */
.open {
  transform: translateX(0);
}
                        /* Close menu button */
.menuClose {
  position: absolute;
  top: var(--space-150); left: var(--space-150);
  background: none;
  border: none;
  font-size: var(--font-size-500);
  cursor: pointer;
  color: var(--text-primary);
}
                          /* Menu links default */
.menu a,
.menu a:visited {
  color: var(--text-primary);
  text-decoration: none;
  font-weight:var(--label-weight);

 }
                            /* Menu icons */
 .menu a i {
  margin-right: var(--space-150);   
  font-size: var(--font-size-400);      
  width: var(--font-size-500);          
  text-align: center;
}
                          /* Menu list container */
.menu ul {
  list-style: none;
   margin-top: var(--space-700); /* 64px */
}
                         /* Menu list items */
.menu li {
 padding: var(--space-200) var(--space-200); /* 16px vertical and horizontal padding */
  cursor: pointer;
   border-bottom: var(--border-width-100) solid var(--divider-color);
}
                              /* Logo (center) */

.logoLink {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

}                  
                             /* Logo image size */
.logo {
  height: var(--logo-height); /* 42px */     
  width: auto;

}


                      /* Header tools (icons right side) */
.headerTools {
  margin-left: auto;
  display: flex;
  gap: var(--space-100); /* 8px gap between icons */
  align-items: center;

}
                              /* Header icon buttons */
.iconBtn {
  text-decoration: none;   
  color: var(--text-primary);             
  font-size: var(--font-size-500);

}
                            /* User icon color */
.userBtn  {
 color: var(--color-primary-start);
}
                               /* User text hidden */
.userText {
  display: none;
}


                               /* TABLET – 768px  */

 

@media (min-width: 768px)  {
 
                            /* Menu width - tablet-768px */
  .menu {
    width: 80vw;
    max-width: 520px;
  }
                             /* Close menu button - 768px */
  .menuClose {
    font-size: 26px;
  }
                               /* Menu icons - 768px */
   .menu a i {
  font-size: var(--font-size-600);      
  width: 25px;          
  
}
                          /* Menu list container - 768px */
.menu ul {
  
   margin-top: 80px;
}
                         /* Menu list items - 768px */
.menu li {
  padding: var(--space-300) var(--space-200); /* 24px vertical and 16px horizontal padding */
 
   
}

}
                            /* Desktop-1024px */


@media (min-width: 1024px) {

 

                         /* Menu toggle button (left side)- desktop */
  .buttonToggle {
    display: none;
    
  }
                            /* Menu icons hidden - desktop 1024px */
   .menu a i {
    display: none;
  }
                            /* Close menu button - desktop 1024px */
  .menuClose {
    display: none;
  }
                                /* Logo-desktop */
  .logoLink {
    position: static;
    transform: none;
    
    
  }
  .logo {
    height: 46px;
    width: auto;
  }
  

                             /* Navigation Menu-desktop */
  .menu {
    
    position: static;
    inset: auto;
    transform: none;
    width: auto;
    background: none;
    border: none;
    padding: 0;
    margin-left: auto;
    
  }

  .menu li {
  border-bottom: none;
 

  }

  .menu a {
    text-decoration: none;
    color: var(--text-primary);
    font-weight: var(--font-weight-700);
    
  }

  .menu ul {
    margin-top: 0px;
    display: flex;
    gap: var(--space-650); /* 56px gap between menu items */
    justify-content: center;
  }
  .menu li:hover {
 
  opacity: 0.6;
}
 
                            /* Header tools (icons right side) - desktop */
  .headerTools{
    gap: var(--space-400);  
  }
  .iconBtn {
  display: inline-flex;
  align-items: center;
  gap: var(--space-100); /* 8px gap between icon and text */
}
  .userText {
    font-size: var(--body-size);
    display: inline-block;
    font-weight: var(--label-weight);
    color: var(--text-primary);
  }
  .userText:hover {
    opacity: 0.6;
  }
                             /* Hide menu items 4 and 5 on - desktop */
  .menu li:nth-child(5),
  .menu li:nth-child(6) {
    display: none;
  }

   
}