  /* Footer – */
.mainFooter {
  background-color: var(--color-white);
  
}

                         /* Footer container */
.footerContainer {
  width: 100%;
  max-width: var(--layout-container-max); /* limits the footer content width to 1360px */
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
  margin: 0 auto;
 
}
                          /* Footer navigation */
.footerNav {
  justify-content: center;
  display: flex;
  gap: var(--space-300);
  margin: var(--space-050);
}

                           /* Footer link */

.footerNav a {
  color: var(--text-secondary);
  text-decoration: none;          
  font-weight: var(--label-weight);
  font-size: var(--label-size);
  letter-spacing: var(--letter-spacing-label);
  position : relative;
  
} 
                           /* Footer link hover */
.footerNav a:hover {
  opacity: 0.75;
}

                 /* Social icons wrapper */
.footerSocial {
  display: flex;
  justify-content: center;
  gap: var(--space-300);
  
}

                  /* Social icon image */
.footerSocial img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  transition: transform 0.2s ease;
  border-radius: 50%;
  
}
                             /* Social hover effect */
.footerSocial a:hover img {
  transform: scale(1.1);
}
                  /*  Divider line for visual separation */
.footerDivider {
  width: 100%;
  height: var(--border-width-100);
  background: var(--divider-color);
  display: block;
}

/* Footer info text */
.footerInfo {
  text-align: center;
  font-size: var(--body-size);
  font-weight: var(--body-weight);
  line-height: 1.5;
  color: var(--text-secondary);
}
.footerInfo a,
.footerInfo a:visited {
  color: var(--link-color); 
}
                            /* Footer info box */
.footerInfoBox{
  padding: var(--space-150) var(--space-200);
  width: 100%;
  
}

                      /* Footer bottom */
.footerBottom {
  border-top: var(--border-width-100) solid var(--divider-color);
  
}
                        /* Footer copyright */
.footerBottom p {
  font-size: var(--caption-size);
  color: var(--text-secondary);
  text-align: center;
}

/*..........................................Footer Container - 1024px.......................................*/
@media (min-width: 1024px)  {

    .footerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: clamp(24px, 4vw, 60px);
    row-gap: 14px;
    align-items: start;
    padding-top: 10px;

  }      

      /* Footer navigation links - 1024px */
    .footerNav {
    justify-content: flex-start;
    margin: var(--space-200);
    justify-content: center;
    gap: var(--space-400);

  }
     /* Footer link */
  .footerNav a {
   font-size: var(--font-size-200);
    
  }
/* Social icons wrapper */
.footerSocial {
  gap: var(--space-600);
  
}

/* Social icon image */
.footerSocial img {
  width: 40px;
  height: 40px;
  
  
}

    /* Footer contact details - 1024px*/
  .footerInfo {
    padding-left: clamp(18px, 2.5vw, 36px);
    border-left: var(--border-width-100) solid var(--divider-color);
    grid-column: 2;
    grid-row: 1 / span 2;

  }
                   /* Footer bottom section 1024px */
  .footerBottom {
    padding: var(--space-150) 0;
    grid-column: 1 / -1;   
    justify-self: center; 
    width: 100%;
    text-align: center;
   
  }
                
                  /* Mobile divider (hidden on Desctop +) */
  .footerDivider {
    display: none;

  }
}
