   /* Global Styles */
   .appLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
   
   
   /* Global Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


          /* Page Settings */
html {
  
  font-family: Arial, sans-serif;
}
              /* Background Image */
body {
  background:
  url("./assets/images/backgrounds/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

  
/* Main Content Area */
.appMain {
  flex: 1;
  
}
/* Ensure the main content area takes up remaining space */
html,body,#root{
height: 100%;

}