   /* Global Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

                                  /* Page Settings */
html {
  
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  min-height:100vh;
  background:
 
    url("./assets/images/backgrounds/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}